.container {
  width: 100%;
  max-width: 740px;
  padding: 8rem 2rem;
  margin: 0 auto;
}

.lenght {
  margin-top: 1rem;
  width: 100%;
}

.lenght p {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 425px) {
  .container {
    padding: 8rem 4rem;
  }
  .list {
    grid-template-columns: 1fr;
  }
}
