.header {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 6rem;
}

.title {
  font-size: 3.6rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
}
